<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Reusable Form Demo</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>
<body>


<div class="container">


    <h2>Metodo de Biseccion</h2>
    <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">
            <label for="name">Que funcion de x vamos a resolver?</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ecuacion">
            <br>
            <label for="email">Ingresa el rango menor:</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Rango menor">
            <br>
            <label for="password">Ingresa el rango mayor:</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Rango mayor">


        </div>
        <button type="submit" class="btn btn-success">Resolver</button>
    </form>

    <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        {{ message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<br>
</div>
</div>
</body>
</html>